.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: none;
}

.dropdown-menu.show {
    display: block;
    border-radius: unset;
}

.dropdown-toggle:hover .dropdown-menu {
    display: block;
}

.table>:not(caption)>*>* {
    padding: unset;
    color: currentColor;
    background-color: currentColor;
    border-bottom-width: unset;
    box-shadow: none;
}

.table tr {
    border-color: unset;
    border-style: none;
    border-width: 0;
}

.table tr td {
    align-content: center;
    justify-items: center;
}

.table.results td {
    background: none;
}

table.calendar tr.toBeRescheduled,
table.calendar tr.toBeRescheduled:hover,
table.results tr.toBeRescheduled,
table.results tr.toBeRescheduled:hover {
    background: #ffcccc !important;

}

.dropdown-item.active,
.dropdown-item:active {
    background: #dd1515 !important;
}

.footer-bg-custom {
    background-position-y: 0;
    /* Default for mobile */
}

@media (min-width: 992px) {
    .footer-bg-custom {
        background-position-y: -300px;
        /* Apply only on large screens */
    }
}










.top-nav {
    /*
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849);
    color: #FFF;
    height: 50px;
    padding: 1em;*/

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    right: 40px;
    top: 60px;
    font-size: 22px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 2px;
    line-height: 30px;
    text-align: center;
    z-index: 100;
    display: block;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 22px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}


.offcanvas-body {
    display: flex;
    justify-content: center;
    text-align: center;
}

.list-group-item {
    color: #FFFFFF;
    background-color: #222;
}

.btn-close {
    border-radius: 50%;
    border-color: #000000;
    border: 2px solid;
}

.fa-caret-right:before {
    display: none;
}